<h1>Welcome <%= current_user.name %>!</h1>

<div class="dashboard-options col-md-4">
  <button type="button" class="btn btn-info">All Exercises</button>
  <button type="button" class="btn btn-info">Workouts</button>
</div>

<div class="dashboard-display col-md-8">

</div>
