<h1>Welcome <%= current_user.name %>!</h1>

<div class="dashboard-options col-md-4">
  <button type="button" class="btn btn-info" id="exercise-btn">All Exercises</button>
  <br>
  <button type="button" class="btn btn-info" id="workout-btn">Workouts</button>
</div>

<div class="dashboard-display col-md-8">

</div>
